docker {
    enabled         = true
    autoMounts      = true
    runOptions      = '-u $(id -u):$(id -g)' 
    fixOwnership    = true
    remove          = true
}

process {
    executor = 'local'
}

manifest.name = 'playground'
manifest.description = 'playground'
manifest.version = null

params {
    input_samplesheet = "${projectDir}/../test_samplesheet.csv"

    // reference data
    fasta = "${projectDir}/../reference/Homo_sapiens_assembly38.fasta"
    fasta_fai = "${projectDir}/../reference/Homo_sapiens_assembly38.fasta.fai"
    dict = "${projectDir}/../reference/Homo_sapiens_assembly38.fasta.dict"
    bwa_index = "${projectDir}/../reference/genome"
    
    dbsnp = "${projectDir}/../reference/dbsnp_146.hg38.vcf.gz"  
    dbsnp_tbi = "${projectDir}/../reference/dbsnp_146.hg38.vcf.gz.tbi"
    known_indels = "${projectDir}/../reference/Homo_sapiens_assembly38.known_indels.vcf.gz"
    known_indels_tbi = "${projectDir}/../reference/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
    mills_and_1000G_gold_standard = "${projectDir}/../reference/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    mills_and_1000G_gold_standard_tbi = "${projectDir}/../reference/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
    germline_resource = "${projectDir}/../reference/af-only-gnomad.hg38.vcf.gz"
    germline_resource_tbi = "${projectDir}/../reference/af-only-gnomad.hg38.vcf.gz.tbi"
    panel_of_normals = "${projectDir}/../reference/1000g_pon.hg38.vcf.gz"
    panel_of_normals_tbi = "${projectDir}/../reference/1000g_pon.hg38.vcf.gz.tbi"
}


process {
    withName: 'PARABRICKS_MUTECTCALLER' {
        ext.args = { "--mutect-f1r2-tar-gz ${meta.id}.f1r2.tar.gz" }
    }
}